.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, #8000FF, #A64DFF);
    display: flex;
    flex-flow: column;
    align-items: center;
}

.header{
    width: 100%;
    height: 2rem;
    background-color: #0000007A;
}

.loginSection{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    width: 1200px;
    height: 80%;
    background-image: linear-gradient(105deg, white 0%, white 39.5%, #FAF5FF 40%);
    border-radius: 20px;
    display: flex;
}


/* Input container */

.infoContainer{
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
}

    /* Login Header */

.loginHeader{
    color: #8000FF;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
}
    /* ---- */

.inputContainer{
    width: 50%;
    background-color: grey;
    height: 3em;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    border-bottom: 2px solid #8000FF;
    margin-top: 2em;
}

.inputContainer span{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    padding-left: 0.3em;
    font-size: 0.8em;
    display: none;
    color: #666666;
}

.inputContainer input{
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-right: 30px;
    border: none;
}

.inputContainer input:focus{
    outline: none;
}

.inputContainer input:focus ~ label{
    animation-name: labelVanish;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.inputContainer input:focus ~ span{
    display: inline;
    animation-name: spanVanish;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.inputContainer label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
    padding-left: 1em;
    color: #666666;
}

.inputContainer input:not(:placeholder-shown) ~ label{
    display: none;
}

.inputContainer input:not(:placeholder-shown) ~ span{
    display: inline;
    animation-duration: 0ms;
}

@keyframes labelVanish{
    from{
        opacity: 1;
        transform: scale(100%) translateY(-50%);
    }
    to{
        opacity: 0;
        transform: scale(0%) translateY(-20px) translateX(-15px);
    }
}

@keyframes spanVanish{

    from{
        opacity: 0;
        transform: scale(0%) translateY(15px) translateY(15px);
    }
    to{
        opacity: 1;
        transform: scale(100%) translateY(0) translateX(0);
    }
    
}

.passwordView{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 5px;
    filter: opacity(0);
}

.inputContainer input:focus ~ .passwordView{
    filter: opacity(1);
}

.inputContainer input:not(:placeholder-shown) ~ .passwordView{
    filter: opacity(1);
}

/* Login button */

.forgotPassword{
    width: 50%;
    text-align: end;
    font-size: 0.8em;
    margin-top: 0.5rem;
    color: #8000FF;
}

.forgotPassword:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

.loginButton{
    background-image: linear-gradient(90deg ,#8000FF, #9b37ff);
    border: none;
    border-radius: 10px;
    padding: 0.75em 1em;
    margin-top: 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 200ms ease-in-out;
}

.loginButton:hover{
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(1.1);
}

    /* login arrow */
.loginButton :nth-child(1){
    filter: invert(100%);
}

/* side info */

.sideInfo{
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.sideInfo div{
    display: flex;
    flex-flow: column;
    color: #8000FF;
}

.sideInfo div h1{
    font-size: 2rem;
}

.cadastroButton{
    background-image: linear-gradient(90deg ,#8000FF, #9b37ff);
    border: none;
    border-radius: 20px;
    padding: 0.75rem 1rem;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 200ms ease-in-out;
    font-size: 1rem;
    color: #FAF5FF;
}

.cadastroButton:hover{
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(1.1);
}